@import url(./reset.css);



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 34px 30px 25px;
}

.menu {
    display: flex;
    gap: 46px;
}

.menu li a {
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.painel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.painel h1 {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    color: white;
    /* top: 0; */
}

.quem-somos,
.onde-estamos {
    padding-block: 153px;
}

.container {
    width: 702px;
    height: 402px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container img {
    max-width: 170px;
    margin-bottom: 70px;
}

.container h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 37px;
}

.container p {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.ladrilhos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.ladrilhos .right-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 99%;
}

.ultimo-cafe {
    grid-column: 1/-1;
    height: 100%;
}

.contatos {
    position: relative;
    height: 580px;
}

.contato {
    position: absolute;
    top: 161px;
    right: 309px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.contato-imagem {
    height: 100%;
}

.contato h2 {
    font-size: 45px;
    line-height: 56px;
    font-weight: 600;
}

.dados,
.horario {
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
}

.dados a {
    transition: .3s;
}

.dados a:hover {
    color: rgb(226, 222, 222);
}

footer {
    color: white;
}

.footer-logo {
    width: 85px;
}

.footer-imagem {
    background-image: url(./assets/img/footer.png);
    height: 211px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

.footer-imagem .left-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-imagem .left-area span {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #fdfdfd;
}

.footer-imagem .right-area {
    display: flex;
    flex-direction: column;
    gap: 67px;
    align-items: flex-end;
    margin-top: 65px;
}

.footer-imagem .right-area ul {
    display: flex;
    gap: 46px;
}

.redes {
    display: flex;
    gap: 20px;
}

.icon {
    width: 20px;
}