@import url(./header.css);
@import url(./painel.css);
@import url(./quem-somos.css);
@import url(./ladrilhos.css);
@import url(./contatos.css);
@import url(./footer.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Source Serif Pro', serif;
    color: inherit;
}

img {
    max-width: 100%;
    width: 100%;
}